<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	{% load static %}
  	<link rel="stylesheet" type="text/css" href="{% static 'generator/style.css' %}">
	<title>Generated Password</title>
</head>
<body>
	<div class="container">
		<input class="passwords" id="passwords" type="text" value="{{ passwords }}" style="" onclick="copyPassword()">
		<div class="tooltip">
			<button onclick="myFunction()" onmouseout="outFunc()">
  				<span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
  				Copy text
  			</button>
		</div>		
	</div>
	<script type="text/javascript" src="{% static 'generator/script.js' %}"></script>
</body>
</html>

